
/* Your CSS Code here. */
.holder{
	display:flex;
	text-wrap: wrap;
	justify-content:center;
	align-items:center;
}

#holder {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    gap: 10px; /* Adjust spacing between items */
}

.item{
	display:flex;
	text-wrap: wrap;
	height:100px;
	width:100px;
	background-color:green;
}

.item1{
	display:flex;
	text-wrap: wrap;
	height:100px;
	width:100px;
	background-color:red;
}

.item2{
	display:flex;
	text-wrap: wrap;
	height:100px;
	width:100px;
	background-color:blue;
}